body {
    padding-top: 3rem;
    color: rgb(var(--bs-tertiary-color-rgb));
    display: flex;
    flex-direction: column;
    height: 100%;
  }

.page-footer {
  padding: 1rem;
  text-align: center;
}

.main {
  flex: 1 1 auto;
}

.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.page-footer.fixed-bottom {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
}

.fix-bot {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 130px;
  z-index: 10;
}

.favorite-button {
  position: absolute;
  top: 10px;
  right: 110px;
}

.edit-button {
  position: absolute;
  top: 10px;
  right: 60px;
}

.delete-button {
  position: absolute;
  top: 10px;
  right: 10px;
}

.form-control-wrapper {
  position: relative;
}
.character-counter {
  position: absolute;
  bottom: 5px;
  right: 5px;
  font-size: 12px;
  color: gray;
}

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

.b-example-divider {
  width: 100%;
  height: 3rem;
  background-color: rgba(0, 0, 0, .1);
  border: solid rgba(0, 0, 0, .15);
  border-width: 1px 0;
  box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
}

.b-example-vr {
  flex-shrink: 0;
  width: 1.5rem;
  height: 100vh;
}

.bi {
  vertical-align: -.125em;
  fill: currentColor;
}

.nav-scroller {
  position: relative;
  z-index: 2;
  height: 2.75rem;
  overflow-y: hidden;
}

.nav-scroller .nav {
  display: flex;
  flex-wrap: nowrap;
  padding-bottom: 1rem;
  margin-top: -1px;
  overflow-x: auto;
  text-align: center;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}

.btn-bd-primary {
  --bd-violet-bg: #712cf9;
  --bd-violet-rgb: 112.520718, 44.062154, 249.437846;

  --bs-btn-font-weight: 600;
  --bs-btn-color: var(--bs-white);
  --bs-btn-bg: var(--bd-violet-bg);
  --bs-btn-border-color: var(--bd-violet-bg);
  --bs-btn-hover-color: var(--bs-white);
  --bs-btn-hover-bg: #6528e0;
  --bs-btn-hover-border-color: #6528e0;
  --bs-btn-focus-shadow-rgb: var(--bd-violet-rgb);
  --bs-btn-active-color: var(--bs-btn-hover-color);
  --bs-btn-active-bg: #5a23c8;
  --bs-btn-active-border-color: #5a23c8;
}

.bd-mode-toggle {
  z-index: 1500;
}

.bd-mode-toggle .dropdown-menu .active .bi {
  display: block !important;
}

.card-text {
  white-space: pre-line;
}

.card-author {
  display: block;
}

.visit_cardcss {
  position: absolute;
  visibility: hidden;
  z-index: -1;
}

#visit:hover .visit_cardcss {
  cursor: pointer;
  position: absolute;
  visibility: visible;
  z-index: 9999;
  /* width: 750px; */
}

#message-icon {
  position: fixed;
  padding: 15px;
  margin-top: auto;
  right: 2%;
  color: rgb(217, 117, 24);
  z-index: 9999;
  animation: shake 1s infinite;
}

@keyframes shake {
  0% { transform: translateX(0); }
  25% { transform: translateX(-5px) rotate(-5deg); }
  50% { transform: translateX(5px) rotate(5deg); }
  75% { transform: translateX(-5px) rotate(-5deg); }
  100% { transform: translateX(0) rotate(0); }
}

.hidden {
  display: none;
}

.chat_widget {
  position: absolute;
  display: none;
  width: auto;
  height: auto;
  right: 0;
  left: auto;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.msg_icon_widget {
  margin-top: auto;
  margin-bottom: 2em;
  margin-left: 1em;
  margin-right: 1.5em;
  color: rgb(250, 214, 70);
}

.chat-action {
  text-decoration: none;
  /* color: white; */
}

.user_info_widget {
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 15px;
}

.user_widget:hover {
  background-color: rgba(0,0,0,0.3);
}

.user_img_widget {
  height: 60px;
  margin: 10px;
  width: 60px;
  border:1.5px solid #f5f6fa;
  box-sizing: border-box;
}

.contacts_widget {
  list-style: none;
  padding: 0;
  margin: 0;
}

