<header data-bs-theme="dark">
  <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="{{ url_for('index') }}">NoteVi</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav me-auto mb-2 mb-md-0">
          <li class="nav-item">
          {% if current_user.is_authenticated %}
          <div class="dropdown">
            <a class="nav-link active dropdown-toggle show" id="dropdownMenuButton5" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="true" aria-current="page">Заметки</a>
              <div class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuButton5" data-popper-placement="bottom-end">
                <a class="dropdown-item" href="{{ url_for('notes') }}">Все заметки</a>
                <a class="dropdown-item" href="{{ url_for('favorites') }}">Избранные</a>
                <a class="dropdown-item" href="{{ url_for('public') }}">Публичные заметки</a>
              </div>
          </div>
          </li>
          {% else %}
            <div class="dropdown">
              <a class="nav-link active dropdown-toggle show" id="dropdownMenuButton5" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="true" aria-current="page">Заметки</a>
                <div class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuButton5" data-popper-placement="bottom-end">
                  <a class="dropdown-item" href="{{ url_for('public') }}">Публичные заметки</a>
                </div>
            </div>
          {% endif %}
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('bot') }}">Бот</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('telegram') }}">Телега</a>
          <li class="nav-item">
          {% if endpoint != 'about' %}
            <a class="nav-link" href="{{ url_for('about') }}">О сайте</a>
          </li>
          {% endif %}
          <li class="nav-item">
            <a class="nav-link disabled" aria-disabled="true">Работай шустрее</a>
          </li>
        </ul>
        {% if current_user.is_authenticated %}
          <a href="{{ url_for('create_note') }}" class="btn btn-warning mb-2 mb-md-0" style="margin-right: 10px;">Новая заметка</a>
        {% else %}
          <a href="{{ url_for('login') }}" class="btn btn-warning mb-2 mb-md-0" style="margin-right: 10px;">Вход</a>
        {% endif %}
        <form class="d-flex" role="search">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Поиск</button>
        </form>
      </div>
    </div>
  </nav>
</header>