<header data-bs-theme="dark" class="border-bottom">
  <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="{{ url_for('index') }}">NoteVi</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav me-auto mb-2 mb-md-0">
          {% if current_user.is_authenticated %}
          <li class="nav-item dropdown">
            <a class="nav-link active dropdown-toggle show" id="dropdownMenuButton5" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="true" aria-current="page">Заметки</a>
              <div class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuButton5" data-popper-placement="bottom-end">
                <a class="dropdown-item" href="{{ url_for('notes') }}">Все заметки</a>
                <a class="dropdown-item" href="{{ url_for('favorites') }}">Избранные</a>
                <a class="dropdown-item" href="{{ url_for('public') }}">Лента заметок</a>
              </div>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link active dropdown-toggle show" id="dropdownMenuButton5" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="true" aria-current="page">Конспекты</a>
              <div class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuButton5" data-popper-placement="bottom-end">
                <a class="dropdown-item" href="{{ url_for('upload_conspects') }}">Загрузить конспект</a>
                <hr class="dropdown-divider">
                <a class="dropdown-item" href="{{ url_for('conspects') }}">Все конспекты</a>
                <a class="dropdown-item" href="{{ url_for('favorite_conspects') }}">Избранные</a>
                <a class="dropdown-item" href="{{ url_for('public_conspects') }}">Лента конспектов</a>
              </div>
          </li>
          {% else %}
            <div class="dropdown">
              <a class="nav-link active dropdown-toggle show" id="dropdownMenuButton5" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="true" aria-current="page">Заметки</a>
                <div class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuButton5" data-popper-placement="bottom-end">
                  <a class="dropdown-item" href="{{ url_for('public') }}">Публичные заметки</a>
                </div>
            </div>
            <div class="dropdown">
              <a class="nav-link active dropdown-toggle show" id="dropdownMenuButton5" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="true" aria-current="page">Конспекты</a>
                <div class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuButton5" data-popper-placement="bottom-end">
                  <a class="dropdown-item" href="{{ url_for('public_conspects') }}">Публичные конспекты</a>
                  <a class="dropdown-item" href="{{ url_for('conspects') }}">Все конспекты</a>
                </div>
            </div>
          {% endif %}
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('bot') }}">Бот</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('telegram') }}">Телега</a>
          <li class="nav-item">
          {% if request.endpoint != 'about' %}
            <a class="nav-link" href="{{ url_for('about') }}">О сайте</a>
          </li>
          {% endif %}
          <li class="nav-item">
            <a class="nav-link disabled" aria-disabled="true">Работай шустрее</a>
          </li>
        </ul>
        <ul class="navbar-nav me-0">
          {% if current_user.is_authenticated %}
            <a href="{{ url_for('create_note') }}" class="btn btn-warning mb-2 mb-md-0" style="margin-right: 10px;">Новая заметка</a>
          {% else %}
            <a href="{{ url_for('login') }}" class="btn btn-warning mb-2 mb-md-0" style="margin-right: 10px;">Вход</a>
          {% endif %}

          <form class="d-flex me-2" role="search">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Поиск</button>
          </form>
          {% if current_user.is_authenticated %}
            <div class="dropdown text-center text-md-end mt-2 mt-md-1">
              <a href="#" class="d-block link-body-emphasis text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava3.webp" alt="mdo" width="32" height="32" class="rounded-circle">
              </a>
              <ul class="dropdown-menu dropdown-menu-end">
                {% if current_user.is_admin %}
                  <li><a class="dropdown-item" href="{{ url_for('admin.index') }}">Админка</a></li>
                {% endif %}
                <li><a class="dropdown-item" href="#">New project...</a></li>
                <li><a class="dropdown-item" href="{{ url_for('conditions') }}">Settings</a></li>
                <li><a class="dropdown-item" href="{{ url_for('profile', user_id=current_user.id) }}">Профиль</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="{{ url_for('logout') }}">Выход</a></li>
              </ul>
            </div>
          {% endif %}

        </ul>
      </div>
    </div>
  </nav>
</header>