<div class="offcanvas offcanvas-end" data-bs-scroll="true" data-bs-backdrop="false" tabindex="-1" id="offcanvasScrolling{{ user.id }}" aria-labelledby="offcanvasScrollingLabel">
  <div class="offcanvas-header">
    <!-- <h5 class="offcanvas-title" id="offcanvasScrollingLabel">Профиль пользователя {{ user.username }}</h5> -->
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
  <section>
    <div class="container">
      <div class="row">
          <nav aria-label="breadcrumb" class="rounded-3 p-3">
            <ol class="breadcrumb mb-0">
              <li class="breadcrumb-item active" aria-current="page">Профиль {{ user.username | truncate(10) }}</li>
              <li class="breadcrumb-item"><a href="{{ url_for('app.user_conspects', user_id=user.id) }}">Конспекты {{ user.username | truncate(10) }}</a></li>
              <li class="breadcrumb-item"><a href="{{ url_for('app.user_notes', user_id=user.id) }}">Заметки {{ user.username | truncate(10) }}</a></li>
            </ol>
          </nav>
      </div>
  
      <div class="row">
          <div class="card mb-4">
            <div class="card-body text-center">
              <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-profiles/avatar-2.webp" alt="avatar"
                class="rounded-circle img-fluid" style="width: 150px;">
              <h5 class="my-3">{{ user.username }}</h5>
              <p class="text-muted mb-1">{{ user.profession}}</p>
              <p class="text-muted mb-4">{{ user.city | capitalize }}</p>
              {% if current_user.id != user.id %}
              <div class="d-flex justify-content-center mb-2">
                {% if current_user.is_followed(user) %}
                <a href="{{ url_for('app.unfollow', user_id=user.id) }}" type="button" class="btn btn-outline-primary">Отписаться</a>
                {% endif %}
                <a href="{{ url_for('app.chat', user_id=user.id) }}" type="button" class="btn btn-outline-success btn-sm ms-1">Написать Сообщение</a>
              </div>
              {% endif %}
            </div>
          </div>
          <div class="card mb-4">
            <div class="card-body p-0">
              <ul class="list-group list-group-flush rounded-4">
                <li class="list-group-item d-flex justify-content-between align-items-center p-3">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-globe mr-2 icon-inline">
                        <circle cx="12" cy="12" r="10"></circle>
                        <line x1="2" y1="12" x2="22" y2="12"></line>
                        <path d="M12 2a15.3 15.3 0 0 1 4 10 15.3 15.3 0 0 1-4 10 15.3 15.3 0 0 1-4-10 15.3 15.3 0 0 1 4-10z"></path>
                    </svg>
                    <span class="text-secondary">{{ user.site }}</span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center p-3">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-github mr-2 icon-inline">
                        <path d="M9 19c-5 1.5-5-2.5-7-3m14 6v-3.87a3.37 3.37 0 0 0-.94-2.61c3.14-.35 6.44-1.54 6.44-7A5.44 5.44 0 0 0 20 4.77 5.07 5.07 0 0 0 19.91 1S18.73.65 16 2.48a13.38 13.38 0 0 0-7 0C6.27.65 5.09 1 5.09 1A5.07 5.07 0 0 0 5 4.77a5.44 5.44 0 0 0-1.5 3.78c0 5.42 3.3 6.61 6.44 7A3.37 3.37 0 0 0 9 18.13V22"></path>
                    </svg>
                    <span class="text-secondary">{{ user.github }}</span>
                </li>
              </ul>
            </div>
          </div>
          <div class="card mb-4">
            <div class="card-body">
              <div class="row">
                <div class="col-4">
                  <p class="mb-0">Имя</p>
                </div>
                <div class="col-8">
                  <p class="text-muted mb-0">{{ user.name | capitalize }}</p>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-4">
                  <p class="mb-0">Фамилия</p>
                </div>
                <div class="col-8">
                  <p class="text-muted mb-0">{{ user.surname | capitalize }}</p>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-4">
                  <p class="mb-0">Дата рождения</p>
                </div>
                <div class="col-8">
                  <p class="text-muted mb-0">{{ user.birth_date }}</p>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-4">
                  <p class="mb-0">Email</p>
                </div>
                <div class="col-8">
                  <p class="text-muted mb-0">{{ user.email }}</p>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-4">
                  <p class="mb-0">Телефон</p>
                </div>
                <div class="col-8">
                  <p class="text-muted mb-0">{{ user.phone }}</p>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-4">
                  <p class="mb-0">Город</p>
                </div>
                <div class="col-8">
                  <p class="text-muted mb-0">{{ user.city }}</p>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
              <div class="card mb-4">
                <div class="card-body">
                  <p class="mb-4"><span class="text-primary font-italic me-1">Прогресс</span> профиля</p>
                  <p class="mb-1" style="font-size: .77rem;">заполнен на {{ progress_bar }}%</p>
                  <div class="progress rounded" style="height: 5px;">
                    <div class="progress-bar" role="progressbar" style="width: {{ progress_bar }}%" aria-valuenow="progress_bar"
                      aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                </div>
              </div>
              <div class="card mb-4">
                <div class="card-body">
                  <p class="mb-4"><span class="text-primary font-italic me-1">Ресурсы</span> профиля</p>
                  <div class="row">
                    <div class="col text-center">
                      <h6 class="h2">{{ (user.conspects).count() }}</h6>
                      <p class="m-0px font-w-600">Конспектов</p>
                      <h6 class="h2">{{ (user.notes).count() }}</h6>
                      <p class="m-0px font-w-600">Заметок</p>
                    </div>
                  </div>
                </div>
              </div>
          </div>
      </div>
    </div>
  </section>
</div>
</div>