<section class="visit_cardcss container">
  <div class="row d-flex justify-content-center align-items-center">
    <div class="col-lg-9 ">
      <div class="card" >
        <div class="card-body p-4">
          <div class="d-flex">
            <div class="flex-shrink-0">
              <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-profiles/avatar-2.webp"
                alt="Generic placeholder image" class="img-fluid"
                style="width: 180px; border-radius: 10px;">
            </div>
            <div class="flex-grow-1 ms-3">
              <h5 class="mb-1">{{ item.author.name | capitalize }} {{ item.author.surname | capitalize}}</h5>
              <p class="mb-2 pb-1">{{ item.author.profession }}</p>
              <div class="d-flex justify-content-start rounded-3 p-2 mb-2">
                <div>
                  <p class="small text-muted mb-1">Конспектов</p>
                  <p class="mb-0">{{ (item.author.conspects).count() }}</p>
                </div>
                <div class="px-3">
                  <p class="small text-muted mb-1">Заметок</p>
                  <p class="mb-0">{{ (item.author.notes).count() }}</p>
                </div>
                <div>
                  <p class="small text-muted mb-1">Подписчиков</p>
                  <p class="mb-0">{{ (item.author.followers).count() }}</p>
                </div>
              </div>
              {% if current_user.is_authenticated %}
              <div class="d-flex pt-1">
                {% if item.author.id != current_user.id %}
                <a href="{{ url_for('app.chat', user_id=item.author.id) }}" type="button" class="btn btn-outline-success me-1 flex-grow-1">Чат</ф>
                {% if not current_user.is_followed(item.author) %}
                <a href="{{ url_for('app.follow', user_id=item.author.id) }}" type="button" class="btn btn-outline-success flex-grow-1">Подписаться</a>
                {% else %}
                <a href="{{ url_for('app.unfollow', user_id=item.author.id) }}" type="button" class="btn btn-outline-warning flex-grow-1">Отписаться</a>
                {% endif %}
                {% else %}
                <p>Это ваш аккаунт</p>
                {% endif %}
              </div>
              {% else %}
              <div class="d-flex pt-1">
                <div>Войдите для того, чтобы увидеть дополнительную информацию</div>
              </div>
              {% endif %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>