{% if current_user.is_authenticated %}
<section class="visit_cardcss container">
  <div class="row d-flex justify-content-center align-items-center">
    <div class="col-lg-9">
      <div class="card" style="border-radius: 15px;">
        <div class="card-body p-4">
          <div class="d-flex">
            <div class="flex-shrink-0">
              <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-profiles/avatar-2.webp"
                alt="Generic placeholder image" class="img-fluid"
                style="width: 180px; border-radius: 10px;">
            </div>
            <div class="flex-grow-1 ms-3">
              <h5 class="mb-1">{{ item.author.name | capitalize }} {{ item.author.surname | capitalize}}</h5>
              <p class="mb-2 pb-1">{{ item.author.profession }}</p>
              <div class="d-flex justify-content-start rounded-3 p-2 mb-2">
                <div>
                  <p class="small text-muted mb-1">Конспектов</p>
                  <p class="mb-0">{{ (item.author.conspects).count() }}</p>
                </div>
                <div class="px-3">
                  <p class="small text-muted mb-1">Заметок</p>
                  <p class="mb-0">{{ (item.author.notes).count() }}</p>
                </div>
                <div>
                  <p class="small text-muted mb-1">Подписчиков</p>
                  <p class="mb-0">8.5</p>
                </div>
              </div>
              <div class="d-flex pt-1">
                <button type="button" class="btn btn-outline-success me-1 flex-grow-1">Чат</button>
                <button type="button" class="btn btn-outline-success flex-grow-1">Подписаться</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% else %}
<h1 style="text-align: center;">Войдите или зарегистрируйтесь</h1>
{% endif %}