{% extends 'base.html' %}

{% block title %}
О сайте
{% endblock %}

{% block content %}
    <h1 class="text-center bg-body-tertiary mb-6">О сайте</h1>
    <div class="b-example-divider"></div>
    <div class="my-5">
        <div class="p-5 text-center bg-body-tertiary">
          <div class="container py-5">
            <h1 class="text-body-emphasis">Простой сайт для экспериментов</h1>
            <p class="col-lg-8 mx-auto lead">
              Пока он содержит только сервис создания, добавление в избранное и удаления <code>заметок.</code> Эксперементируем с помощью библиотеки Bootstrap, фреймвора Flask и десятка его комплектующих библиотек. З.Ы. Есть мобильная версия.<code>  NEW!!!!.</code> Добавлены публичные заметки. Еще бы лайки добавить... Да.
            </p>
          </div>
        </div>
    </div>
    <div class="b-example-divider"></div>
    <div class="container my-5">
        <div class="p-5 text-center bg-body-tertiary rounded-3">
          <h1 class="text-body-emphasis">Тут будет контент, правда =)</h1>
          <p class="lead">
            В заметках весь визуал написан моими руками с помощью CSS (не бейте). Реализована возможность переключать тему приложения со светлой на темную, регистрация, аунтефикация, сброс пароля по <code>email.</code> В данный момент работаю над пользовательскими ролями и админкой + добавлением картинок в заметки.
          </p>
        </div>
      </div>
{% endblock %}