<!DOCTYPE html>
<html lang="ru" data-bs-theme="dark">
<head>
    <script src="{{ url_for('static', filename='js/color-modes.js')}}"></script>
    <script src="{{ url_for('static', filename='js/jquery-3.6.0.min.js')}}" defer></script>
    <script
        src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"
        integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA=="
        crossorigin="anonymous">
    </script>
    <script src="{{ url_for('static', filename='js/online-emit.js')}}"></script>
    <script src="{{ url_for('static', filename='js/fixed-footer.js')}}" defer></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="canonical" href="https://дописать_главный_url">
    <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@docsearch/css@3"> -->
    <!-- <link rel="stylesheet" href="{{ url_for('static', filename='css/css@3')}}"> -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css')}}" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/drop-menu.css')}}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/base.css')}}" rel="stylesheet">
    {% block styles %} {% endblock %}
    {% block scripts %} {% endblock %}
    <link rel="icon" href="{{ url_for('static', filename='img/favicon/favicon.ico')}}" sizes="16x16" type="image/x-icon">
    <title>{% block title %} {% endblock %}</title>
    <meta name="theme-color" content="#712cf9">
</head>
<body>
    {% include 'includes/dropdown_light.html' %}
    {% include 'includes/header.html' %}
    <div class="wrapper">
      <main class="main" id="root">
        <div id="auth-check" data-is-authenticated="{{ current_user.is_authenticated }}"></div>
        {% if request.endpoint != 'app.chat' %}
          <div id="message-icon" class="hidden">
            <svg xmlns="http://www.w3.org/2000/svg" width="40" height="50" fill="currentColor" class="bi bi-envelope" viewBox="0 0 16 16">
              <path d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2zm2-1a1 1 0 0 0-1 1v.217l7 4.2 7-4.2V4a1 1 0 0 0-1-1zm13 2.383-4.708 2.825L15 11.105zm-.034 6.876-5.64-3.471L8 9.583l-1.326-.795-5.64 3.47A1 1 0 0 0 2 13h12a1 1 0 0 0 .966-.741M1 11.105l4.708-2.897L1 5.383z"/>
            </svg>
            <div class="chat_widget" id="chat_widget"></div>
          </div>
        {% endif %}
        {% block content %}{% endblock %}
      </main>
    </div>
    {% include 'includes/footer.html' %}
  <script src="{{ url_for('static', filename='js/dropdown_light.js')}}"></script>
  <script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js')}}"></script>
  {% if request.endpoint != 'app.chat' %}
    <script src="{{ url_for('static', filename='js/chat-widget.js') }}"></script>
  {% endif %}
</body>
</html>