{% extends 'base.html' %}

{% block title %}
  Чат-лист
{% endblock %}

{% block content %}
{% include 'includes/flash.html' %}
<div class="navbar navbar-expand-md ">
    <div class="navbar-toggler chat-toggler" data-bs-toggle="collapse" data-bs-target="#chatCollapse" aria-controls="chatCollapse" aria-expanded="false" aria-label="Chat navigation">
        <span class="chat-toggler-icon"></span>
    </div>
    <div class="collapse navbar-collapse" id="chatCollapse">
        <div class="card-body contacts_body navbar-nav-scroll" style="--bs-scroll-height: 300px;">
            <ui class="contacts">
                <li class="active_user" id="{{ user.id }}">
                    <div class="d-flex bd-highlight">
                        <div class="img_cont">
                            <img src="https://static.turbosquid.com/Preview/001292/481/WV/_D.jpg" class="rounded-circle user_img">
                            <span class="online_icon offline" id="tag_online-{{ user.id }}"></span>
                        </div>
                        <div class="user_info">
                            <span>{{ user.username }}</span>
                            <p id="time_online-{{ user.id }}">Offline</p>
                        </div>
                    </div>
                </li>
                {% for chat_id, user_chat in chat_data.items() %}
                    <a href="{{ url_for('app.chat', user_id=user_chat.id) }}" class="chat-action">
                        <li class="user" id="{{ user_chat.id }}">
                            <div class="d-flex bd-highlight">
                                <div class="img_cont">
                                    <img src="{{ url_for('static', filename='img/contact/7.jpg') }}" class="rounded-circle user_img">
                                    <span class="online_icon offline" id="tag_online-{{ user_chat.id }}"></span>
                                </div>
                                <div class="user_info">
                                    <span>{{ user_chat.username }}</span>
                                    <p id="time_online-{{ user_chat.id }}">Offline</p>
                                </div>
                                <div class="msg_icon" id="msg_icon-{{ chat_id }}">

                                </div>
                            </div>
                        </li>
                    </a>
                {% endfor %}
            </ui>
        </div>
        <div class="card-footer"></div>
    </div>
</div>
{% endblock %}