{% extends 'base.html' %}

{% block title %}
  {% if request.endpoint == 'public_conspects' %}
    Публичные конспекты
  {% elif request.endpoint == 'user_conspects' %}
    Конспекты пользователя {{ user.username }}
  {% else %}
    Все конспекты
  {% endif %}
{% endblock %}

{% block content %}
{% include 'includes/flash.html' %}
{% if request.endpoint == 'public_conspects' or current_user.is_authenticated %}
<div class="container mt-5">
  <div class="row justify-content-md-center">
    {% if conspects|length > 0 %}
    <div class="col-sm-4 col-lg-2">
    </div>
    <div class="col-sm-4 align-self-center">
      {% if request.endpoint == 'user_conspects' %}
        <h1 style="text-align: center;">Конспекты пользователя {{ user.username }}</h1>
      {% else %}
        <h1 style="text-align: center;">Все конспекты</h1>
      {% endif %}
    {% else %}
      {% if request.endpoint == 'public_conspects' %} 
        <h1 style="text-align: center;">Публичные конспекты отсутствуют</h1>
      {% elif request.endpoint == 'favorite_conspects' %}
        <h1 style="text-align: center;">У вас нет избранных конспектов</h1>
      {% elif request.endpoint == 'user_conspects' %}
        <h1 style="text-align: center;">Пользователь не создал ни одного конспекта</h1>
      {% else %}
        <h1 style="text-align: center;">Вы пока не написали ни одного конспекта</h1>
      {% endif %}
    {% endif %}
    </div>
    {% if conspects|length > 0 %}
      <div class="col-sm-4 col-lg-2 mb-2">
        <div class="input-group">
          <span class="input-group-text" id="basic-addon1">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil" viewBox="0 0 16 16">
              <path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z"></path>
            </svg>
          </span>
          <input type="text" class="form-control" placeholder="Фильтр" aria-label="Фильтр" aria-describedby="basic-addon1" id="filterInput">
        </div>
      </div>
    </div>
    {% endif %}
    {% if conspects|length > 0 %}
      {% for conspect in conspects %}
        <div class="card container col-lg-8 p-0">
          <div class="card-body container">
            <h5 class="card-title col-7">{{ conspect.name }}</h5>
            <il class="align-self-end">{% include 'includes/btn_conspect.html' %}</il>
          </div>
          <div class="card-body container">
            {% if conspect.intro|length > 3 %}
            <p class="card-text">{{ conspect.intro }}</p>
            {% endif %}
            <p class="card-author"><b>Автор: {{ conspect.author.username }}</b></p>
            <a href="{{ url_for('conspect', id=conspect.id) }}" class="btn btn-success" data-toggle="button" aria-pressed="false" autocomplete="off">
                Подробнее
            </a>
            <note class="date col">Загружен: {{ conspect.add_date }}</note>
          </div>
          <div class="b-example-divider" style="width: 100%;"></div>
        </div>
      {% endfor %}
    {% else %}
    {% endif %}
  </div>
  {% else %}
  <div class="container mt-5">
    <h1 style="text-align: center;">Войдите или зарегистрируйтесь</h1>
  </div>
  {% endif %}

  <script src="{{ url_for('static', filename='js/filter-conspect.js')}}"></script>
{% endblock %}