<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="/static/css/contact.css" rel="stylesheet">
  <title>Кооооооооонфиденциальность!</title>
</head>
<body>
  <main>
    <ul>
      <li style="--x1: 2; --x2: 6; --y1: 1; --y2: 4;">
        <img src="{{ url_for('static', filename='img/contact/1.png')}}" alt="">
      </li>
      <li style="--x1: 6; --x2: 8; --y1: 2; --y2: 4;">
        <img src="{{ url_for('static', filename='img/contact/7.jpg')}}" alt="">
      </li>
      <li style="--x1: 1; --x2: 4; --y1: 4; --y2: 7;">
        <img src="{{ url_for('static', filename='img/contact/1.png')}}" alt="">
      </li>
      <li style="--x1: 4; --x2: 7; --y1: 4; --y2: 7;">
        <img src="{{ url_for('static', filename='img/contact/7.jpg')}}" alt="">
      </li>
      <li style="--x1: 7; --x2: 9; --y1: 4; --y2: 6;">
        <img src="{{ url_for('static', filename='img/contact/7.jpg')}}" alt="">
      </li>
      <li style="--x1: 2; --x2: 4; --y1: 7; --y2: 9;">
        <img src="{{ url_for('static', filename='img/contact/7.jpg')}}" alt="">
      </li>
      <li style="--x1: 4; --x2: 7; --y1: 7; --y2: 10;">
        <img src="{{ url_for('static', filename='img/contact/1.png')}}" alt="">
      </li>
      <li style="--x1: 7; --x2: 10; --y1: 6; --y2: 9;">
        <img src="{{ url_for('static', filename='img/contact/7.jpg')}}" alt="">
      </li>
    </ul>
  </main>
  
</body>
</html>