{% extends 'base.html' %}

{% block title %}
{% if endpoint == 'create_note' %}
Создай новую заметку
{% else %}
{{ note.title }}
{% endif %}
{% endblock %}

{% block content %}
  <div class="container mt-5 col-lg-7">
    {% if endpoint == 'create_note' %}
    <h1 style="text-align: center; word-wrap: break-word;">Создай новую заметку</h1>
    {% else %}
    <h1 style="text-align: center; word-wrap: break-word;">{{ note.title }}</h1>
    {% endif %}
    <form method="post" enctype="multipart/form-data">
      <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
      <div class="form-control-wrapper">
        <input type="title" name="title" id="title" placeholder="Заголовок" class="form-control" {% if endpoint == "create_note" %} {% else %} value="{{ note.title }}" {% endif %} maxlength="100" required>
        <span class="character-counter" id="titleCounter"></span>
      </div><br>
      <div class="form-control-wrapper">
        <textarea name="intro" id="intro" placeholder="Ключевое знание" class="form-control" style="height: 100px;" maxlength="200">{% if endpoint == 'create_note' %} {% else %}{{ note.intro }}{% endif %}</textarea>
        <span class="character-counter" id="introCounter"></span>
      </div><br>
      <div class="form-control-wrapper">
        <textarea name="text" id="text" placeholder="Текст заметки" class="form-control" style="height: 300px;" maxlength="10000">{% if endpoint == 'create_note' %} {% else %}{{ note.text }}{% endif %}</textarea>
        <span class="character-counter" id="textCounter"></span>
      </div><br>
      <div class="container mt-5">
        <div class="row">
          <div class="col"></div>
          <div class='col'>
            <input type=file name=files class="form-control" multiple="multiple">
          </div>
        </div>
        <div class="row">
          <div class="col-9 mt-2">
            <input type="submit" value="Сохранить" class="btn btn-success">
          </div>
          <div class="col-3 form-check form-switch mb-3 mt-2 pl-5">
            <input class="form-check-input" type="checkbox" name="public" id="flexSwitchCheckDefault" {% if endpoint == 'edit' and note.public == 'on' %} checked {% endif %}>
            <label class="form-check-label" for="flexSwitchCheckDefault">Public</label>
          </div>
        </div>
      </div>
    </form>
  </div>
  <script src="{{ url_for('static', filename='js/create-counter.js')}}"></script>
{% endblock %}