{% extends 'base.html' %}

{% block title %}
О сайте
{% endblock %}

{% block styles %}
  <link href="static/css/carousel.css" rel="stylesheet">
{% endblock %}

{% block content %}
{% include 'includes/flash.html' %}
<div id="myCarousel" class="carousel slide mb-6 pointer-event" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-label="Slide 1" aria-current="true"></button>
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2" class=""></button>
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3" class=""></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="{{ url_for('static', filename='img/index/99.jpg')}}"class="bd-placeholder-img" width="100%" height="100%" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"></img>
        <div class="container">
          <div class="carousel-caption text-start">
            <h1>Сделай заметку.</h1>
            <p class="opacity-75">А то забудешь фичу. Мы все люди.</p>
            <p><a class="btn btn-lg btn-outline-success" href="{{ url_for('app.create_note')}}">Делаю!</a></p>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <img src="{{ url_for('static', filename='img/index/4.jpeg')}}"class="bd-placeholder-img" width="100%" height="100%" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"></img>
        <div class="container">
          <div class="carousel-caption">
            <h1>Просмотри заметки.</h1>
            <p>Может там была идея на мильЕн.</p>
            <p><a class="btn btn-lg btn-outline-success" href="{{ url_for('app.notes')}}">Смотрю!</a></p>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <img src="{{ url_for('static', filename='img/index/5.jpg')}}"class="bd-placeholder-img" width="100%" height="100%" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"></img>
        <div class="container">
          <div class="carousel-caption text-end">
            <h1>Пересмотри избранные заметки</h1>
            <p>Убури ненужные. Не засоряй себе мозг.</p>
            <p><a class="btn btn-lg btn-outline-success" href="{{ url_for('app.favorites')}}">Удаляю!</a></p>
          </div>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
  <div class="container marketing">

    <!-- Three columns of text below the carousel -->
    <div class="row">
      <div class="col-lg-4">
        <img src="{{ url_for('static', filename='img/index/666.jpg')}}" class="bd-placeholder-img rounded-circle" width="140" height="140" role="img" aria-label="Placeholder" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title></ш>
        <h2 class="fw-normal">Зарегистрируйся!</h2>
        <p>И создай заметку!=) Добавь в избранное, сделай публичной.</p>
        <p><a class="btn btn-outline-success" href="{{ url_for('app.register')}}">Регаюсь »</a></p>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <img src="{{ url_for('static', filename='img/index/cat.gif')}}" class="bd-placeholder-img rounded-circle" width="140" height="140" role="img" aria-label="Placeholder" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title></ш>
        <h2 class="fw-normal">Разлогинься!</h2>
        <p>Проверь функционал =)</p>
        <p><a class="btn btn-outline-success" href="{{ url_for('app.logout')}}">Выхожу из акка »</a></p>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <img src="{{ url_for('static', filename='img/index/888.gif')}}" class="bd-placeholder-img rounded-circle" width="140" height="140" role="img" aria-label="Placeholder" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title></ш>
        <h2 class="fw-normal">Восстанови пароль</h2>
        <p>Восстанови пароль по почте.</p>
        <p><a class="btn btn-outline-success" href="#">Восстанавливаю »</a></p>
      </div><!-- /.col-lg-4 -->
    </div><!-- /.row -->


    <!-- START THE FEATURETTES -->

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7">
          <h2 class="featurette-heading fw-normal lh-1">Тут будет контент, но это не точно. <span class="text-body-secondary">It’ll blow your mind.</span></h2>
          <p class="lead">Надо будет дописать логирование, доделать отправку на почту ошибок.</p>
      </div>
      <div class="col-md-5 order-md-1">
          <img src="{{ url_for('static', filename='img/index/33.jpg')}}" alt="Image Description" class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500">
      </div>
  </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7 order-md-2">
        <h2 class="featurette-heading fw-normal lh-1">Oh yeah, it’s that good. <span class="text-body-secondary">Есть мобильная версия.</span></h2>
        <p class="lead">Самое трудное было - прибить footer к низу страницы.</p>
      </div>
      <div class="col-md-5 order-md-1">
        <img src="{{ url_for('static', filename='img/index/11.jpg')}}" alt="Image Description" class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500">
      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading fw-normal lh-1">А еще тут классная страница ошибки 404. <span class="text-body-secondary">И на 500, да.</span></h2>
        <p class="lead">И симпатичная страница регистрации.</p>      
      </div>
      <div class="col-md-5">
        <img src="{{ url_for('static', filename='img/index/222.jpg')}}" alt="Image Description" class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500">
      </div>
    </div>
        
    <!-- /END THE FEATURETTES -->

</div>
{% endblock %}