{% extends 'base.html' %}

{% block styles %}
  <link href="{{ url_for('static', filename='css/login.css')}}" rel="stylesheet">
{% endblock %}

{% block title %}
  Авторизация
{% endblock %}

{% block content %}
<section class="container-login">
    <div class="login-container">
        <div class="circle circle-one"></div>
        <div class="form-container">
            <img src="{{ url_for('static', filename='img/login/illustration.png')}}" alt="illustration" class="illustration" />
            <form method="post">
            {% if endpoint == 'login' %}
                <h1-login class="opacity">Вход</h1-login>
                <form>
                    <input type="username" name="username" id="username" placeholder="НИКНЕЙМ" autocomplete="username" class="form-control"/>
                    <input type="password" name="password" id="password" placeholder="ПАРОЛЬ" autocomplete="current-password" class="form-control"/>
                    <input type="hidden" name="csrf_token" value = "{{ csrf_token() }}" />
                    <button type="submit" class="opacity">ОТПРАВИТЬ</button>
                </form>
                <div class="register-forget opacity">
                    <a href="{{ url_for('register') }}">Регистрация</a>
                    <a href="{{ url_for('restoring_access') }}">Забыли пароль?</a>
                </div>
            {% elif endpoint == 'register' %}
                <h1-login class="opacity">Регистрация</h1-login>
                <form>
                    <input type="username" name="username" id="username" placeholder="НИКНЕЙМ" autocomplete="username"/>
                    <input type="password" name="password" id="password" placeholder="ПАРОЛЬ" autocomplete="new-password"/>
                    <input type="email" name="email" id="email" placeholder="ПОЧТОВЫЙ АДРЕС" autocomplete="email"/>
                    <input type="hidden" name="csrf_token" value = "{{ csrf_token() }}" />
                    <button type="submit" class="opacity">ОТПРАВИТЬ</button>
                </form>
            {% else %}
                <h1-login class="opacity">Восстановление доступа</h1-login>
                <form>
                    <input type="email" name="email" id="email" placeholder="ПОЧТОВЫЙ АДРЕС" autocomplete="email"/>
                    <input type="hidden" name="csrf_token" value = "{{ csrf_token() }}" />
                    <button type="submit" class="opacity">ОТПРАВИТЬ</button>
            {% endif %}
            </form>
        </div>
        {% for category, message in  get_flashed_messages(with_categories=true) %}
            <div class="alert alert-{{ category }}" role="alert">
                {{ message }}
            </div>
        {% endfor %}
        <div class="circle circle-two"></div>
    </div>
    <div class="theme-btn-container"></div>
</section>
{% endblock %}