{% extends 'base.html' %}

{% block title %}
{{ note.title }}
{% endblock %}

{% block content %}
{% for category, message in  get_flashed_messages(with_categories=true) %}
  <div class="alert alert-{{ category }}" role="alert">
      {{ message }}
  </div>
{% endfor %}
<div class="container mt-5 col-lg-8">
  <h1 style="text-align: center; word-wrap: break-word;">{{ note.title }}</h1>
  <div class="card">
    <div class="card-body container">
      <h5 class="card-title col-8">{{ note.intro }}</h5>
      <il class="align-self-end">{% include 'includes/btn.html' %}</il>
    </div>
    {% if note.files|length > 0 %}
      {% for file in note.files %}
        <div class="b-example-divider" style="width: 100%;"></div>
        <img src="{{ url_for('static', filename='media/uploads/' + file.name) }}" class="card-img-top featurette-image img-fluid mx-auto" alt="..." style="height: 20%;">
      {% endfor %}
    {% endif %}
    <div class="card-body">
      <p class="card-text">{{ note.text }}</p>
      <p><b>Автор: {{ note.author.username }}</b></p>
      <note class="date">Cоздан: {{ note.data }}</note>
    </div>
    <div class="b-example-divider" style="width: 100%;"></div>
  </div>
</div>
{% endblock %}