<!DOCTYPE html>
<html lang="ru">
    <head>
        <title>Контент в разработке</title>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <meta charset="utf-8">
        <meta name="language" content="ru">
        <meta http-equiv="Content-Language" content="ru_RU">
        <meta http-equiv="imagetoolbar" content="no">
        <meta name="SKYPE_TOOLBAR" content="SKYPE_TOOLBAR_PARSER_COMPATIBLE">
        <meta name="google" content="notranslate">
        <meta name="format-detection" content="telephone=no">
        <meta name="robots" content="index,follow">
        <meta name="MobileOptimized" content="480">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <script src="static/public/js/modernizr.min.js"></script>
        <script>
            window.RM = {};
        </script>

        <link rel="stylesheet" type="text/css" href="static/public/css/bundle.css">
    </head>
    <body>

        <div class="b-page">
            <section class="b-page__first">

                <section class="b-slider">
                    <div class="b-slider__list">
                        <div class="b-slider__item b-slider__item--active" style="background-image: url(static/public/images/slider__1.jpg);"></div>
                        <div class="b-slider__item" style="background-image: url(static/public/images/slider__2.jpg);"></div>
                        <div class="b-slider__item" style="background-image: url(static/public/images/slider__3.jpg);"></div>
                    </div>
                    <div class="b-slider__control">
                        <div class="b-slider__point b-slider__point--active"></div>
                        <div class="b-slider__point"></div>
                        <div class="b-slider__point"></div>
                    </div>
                </section>

                <div class="b-page__left"></div>
                <div class="b-page__center"></div>
                <div class="b-page__right"></div>

                <div class="b-page__intro">
                    <header class="b-header">
                        <h1 class="b-header__logo"></h1>
                    </header>
                    <div class="b-page__middle">
                        <section class="b-soon">
                            <div class="b-soon__inner">
                                <div class="b-soon__small">Функционал в разработке</div>
                                <div class="b-soon__big">Ожидайте новых версий =)</div>
                            </div>
                        </section>
                    </div>
                </div>

            </section>
        </div>

        <script src="static/public/js/jquery.min.js"></script>
        <script src="static/public/js/bundle.js"></script>
    </body>
</html>